<div class="container">
  <h2>Tic Tac Game : </h2>
  <div class="col-md-8">
    <mat-grid-list class="tic-tac-grid" cols="3" rowHeight="100px">
      <mat-grid-tile *ngFor="let block of gameService.ticTacBlocks;let i = index; trackBy: trackByFn"
                     (click)="playerClick(i)"
                     [colspan]="1"
                     [rowspan]="1" style="border: solid lightgray">
        <i [class]="block.symbol == 'done' ? 'material-icons tick' : 'material-icons cross'">{{ block.symbol }} </i>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="col-md-6">
    <h2>Score:</h2>
    <table class="table table-bordered">
      <tbody>
      <tr>
        <td>Player 1 Score (You):</td>
        <td>{{ gameService.ticTacPlayers[0].score }}</td>
      </tr>

      <tr>
        <td>Player 2 Score (Computer):</td>
        <td>{{ gameService.ticTacPlayers[1].score }}</td>
      </tr>

      <tr>
        <td>Draw:</td>
        <td>{{ gameService.draw }}</td>
      </tr>

      </tbody>
    </table>
    <a class="pull-right text-right" class="btn btn-dark" (click)="resetGame(event)" href="#">Reset Tic Tac Game</a>
    <a class="pull-right text-right" class="btn btn-dark" (click)="startNewGame()" href="#">New Tic Tac Game</a>
    <a class="pull-right text-right" class="btn btn-dark" (click)="getGameHistory()" href="#">History</a>
  </div>
</div>



